@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
}

body {
  padding-top: 70px;
}

.container {
  @apply relative max-w-7xl mx-auto;
}

.content-wrapper {
  @apply px-6;
}

.headerPage {
  @apply text-4xl sm:text-5xl lg:text-6xl font-bold transition-all;
}

.projectTitle {
  @apply text-4xl lg:text-5xl font-bold transition-all;
}

.projectDesc {
  @apply text-lg font-medium mt-6;
}

.bodyContent {
  @apply max-w-4xl mx-auto;
}

.word-underline {
  position: relative;
}

@keyframes underlineAnimated {
  from {
    @apply w-0;
  }
  50% {
    @apply w-[110%];
  }
  100% {
    @apply w-[90%];
  }
}

.word-underline::before {
  content: "";
  @apply absolute left-0 bottom-0 h-2 bg-warning w-0 -z-[1];
}

.word-underline.animated::before {
  animation: underlineAnimated 0.5s linear 2.5s 1 forwards;
}

#nprogress .bar {
  @apply bg-warning;
}

#nprogress .spinner-icon {
  @apply border-primary border-l-transparent;
}
