.overlay {
  @apply fixed top-0 left-0 w-full h-full bg-secondary transition-all z-[900] duration-200;
  @apply opacity-0 pointer-events-none;
}

.overlay.show {
  @apply opacity-90 backdrop-blur-md pointer-events-auto;
}

@keyframes showModal {
  0% {
    /* @apply opacity-0 scale-75; */
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }
  25% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.05);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes closeModal {
  0% {
    /* @apply opacity-0 scale-75; */
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  25% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.05);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }
}

.modal {
  @apply fixed top-[47%] sm:top-[50%] left-[50%] h-[85%] w-[85%] sm:h-[90%];
  @apply max-w-6xl bg-white rounded-2xl z-[999] pointer-events-none;
  @apply transition-all duration-200;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.75);
}

.modal.show {
  @apply pointer-events-auto shadow-lg;
  animation: showModal 0.35s ease-out 1 forwards;
}

.modal.closed {
  @apply pointer-events-none shadow-none;
  animation: closeModal 0.35s ease-in 1 forwards;
}

.btnClose {
  @apply absolute right-0 top-0 transition-all duration-200 delay-200 hidden;
  @apply opacity-0 -rotate-90 sm:translate-x-[40px] sm:translate-y-[40px] sm:block;
}

.btnClose.show {
  @apply opacity-100 rotate-0;
}

.closer {
  @apply btn btn-sm btn-circle;
}

.content {
  @apply relative w-full overflow-y-auto overflow-x-hidden;
  height: calc(100% - 48px);
}

@media (min-width: 640px) {
  .content {
    @apply h-full;
  }
}
